.containerBodyItem {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
    width: 736px;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.containerBodyItemTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--gray-100);
}

.checkBox {
    background-color: transparent;
    border: 0;
}

.inputCheckBox {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border-color: var(--blue-300);
    background-color: transparent;
    transition: background-color 0.2s;
    cursor: pointer;
}

.inputCheckBox:hover {
    border-radius: 50%;
    border-color: var(--blue-500);
    background-color: rgb(95, 97, 206, 0.6);
}

.inputCheckBoxChecked {
    border-radius: 50%;
    border-color: var(--blue-500);
    background-color: rgb(95, 97, 206, 0.6);
}

.textChecked {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    text-decoration-line: line-through;
    /* Gray 300 */
    color: var(--gray-300);
}

.trashButton {
    background-color: transparent;
    border: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.trash {
    color: var(--gray-300);
    transition: background-color 0.2s, color 0.2;
}

.trash:hover {
    background: var(--gray-300);
    color: var(--danger);
    border-radius: 4px;
}