.containerBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    width: 736px;
    height: 244px;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
}

.containerBody>p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    color: var(--gray-300);
}

.containerBody>span {
    font-size: 16px;
}

.clipboard {
    width: 56px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
}